.games-text {
    padding-top: 0.5em; 
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
}

.game-box {
    top: 0px;
    width: 100%;
}

.game-video {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
}

.text {
    text-align: left;
    padding-top: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.blue {
    color: skyblue;
}

.green {
    color: greenyellow;
}

.red {
    color: lightcoral;
}

.yellow {
    color: gold;
}