.right {
    float: right;
}

.left {
    float: left;
}

.intro-text {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}

.portrait {
    height: 275x;
    width: 275px;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}
