.resume-page {
    padding-top: 2em;
    padding-bottom: 5em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
}

.resume-picture {
    height: auto;
    width: 900px;
    border-radius: 0.5em;
    display: block;
    padding-bottom: 0em;
}