.picture-box {
    margin: auto;
    text-align: center;
    color: white;
    margin-right: 2em;
    margin-left: 2em;
    border-radius: 0.5em;
    min-height: 462px;
}

.picture {
    height: 325x;
    width: 325px;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}

.container {
    background-color: transparent;
    width: 100%;
}

.app-bar {
    border-radius: 0.5em;
    background-color: transparent;
}

.tabs {
    display: flex;
    justify-content: space-between;
    color: white;
}

.view {
    display: flex;
    justify-content: center;
    align-items: center;
}