.header {
    top: 0px;
    background-color: rgb(0, 0, 0, 0.8);
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    mix-blend-mode: multiply;
}

.header Button{
    background-color: white;

    font-weight: bold;
    color: black !important;

    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.name-icon {
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.name {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 0px;
    color: white;
}

.button-container {
    margin-right: 2em;
}
