body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.home-background {
  background: url("/public/img/CecretLake.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;

  position: relative;

  margin-top: 0px;
  top: 0px;
  min-height: 100vh;
}